.forgot{

    align-content: center;
    background-color: rgba(19, 137, 107, 0.685);
    float: center;
    box-sizing: border-box;
    max-width: 500px;
    margin-top:150px;
    margin-right:80px;
    margin-bottom:30px;
    margin-left:50px;
      padding: 90px; 
      border-radius: 10px;
      box-shadow: 0 10px 20px 0 rgb(10, 0, 0);
  transition: -cubic-bezier(0.075, 0.82, 0.165, 1);

  outline-style: inherit;
    
}

#sb{
    background-color: rgb(6, 255, 222);
    height: 35px;
    width: 120px;
    margin-left: 2%;
    margin-bottom: 2px;
    font-size: 20px;
 
    background: linear-gradient(90deg,0162c8);
    box-shadow: 0 10px 20px 0 rgb(10, 0, 0);
    border-radius: 20px;
    border-color: azure;
    border-width: 7px;

}

#mailbox{
    background-color: rgb(247, 150, 4);
height: 50px;
    width: 300px;
   outline-style: groove;
   outline-color: rgb(0, 0, 0);
   outline-width: 5px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-style: ridge;
color: antiquewhite;
}

#mailbox1{
    background-color: rgba(12, 224, 227, 0.653);
height: 30px;
    width: 300px;
   outline-style: groove;
   outline-color: rgb(0, 0, 0);
   outline-width: 5px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-style: ridge;
   color: antiquewhite;
}



#np{
    background-color: rgba(11, 225, 89, 0.997);
height: 30px;
    width: 300px;
   outline-style: groove;
   outline-color: rgb(0, 0, 0);
   outline-width: 5px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-style: ridge;
   color: antiquewhite;
}

.Varificationcode{
    background-color: rgb(37, 82, 205);
    height: 30px;
        width: 300px;
       outline-style: groove;
       outline-color: rgb(0, 0, 0);
       outline-width: 5px;
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
       border-style: ridge;
       color: antiquewhite;
}



