
body{
    font-family: 'Courier New', Courier, monospace,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-style: bold;
    background-color: rgba(74, 160, 160, 0.685);
}
/* registration form data style :start */

.container{
    align-content: center;
    background-color: rgba(19, 137, 107, 0.685);
float: center;
box-sizing: border-box;
max-width: 500px;
margin-top:30px;
margin-right:80px;
margin-bottom:30px;
margin-left:500px;
  padding: 90px; 
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgb(0, 0, 0);
  transition: -cubic-bezier(0.075, 0.82, 0.165, 1);
}

#fn,#ln,#cn,#bd,#em,#img,#reg,#pw{
    color: white;
  
      
}
.registration{
    position: relative;
    display: flex;
    color: rgba(63, 31, 31, 0.529);
    text-align: justify;
    text-shadow: 5px brown;
    text-transform: uppercase;
    

}
#reg{

    margin-left: 48px;
    margin-top: 0px;
    font-size: 20px bold block;
    text-transform: uppercase;

}
#fname{
    height: 30px;
    margin-left: 12px;
    align-content: center;
    background-color: rgb(189,183,107);
    border-radius: 10px;

}

#lname{
    height: 30px;
margin-left: 24px;
background-color: rgb(189,183,107);
border-radius: 10px;


}
#cname{
    height: 30px;
    margin-left: 49px;
    background-color:  rgb(189,183,107);
    border-radius: 10px;
}
#dob{
    height: 30px;
    margin-left: 25px;
    background-color: rgb(189,183,107);
    border-radius: 10px;

}
#email
{
    height: 30px;
margin-left: 61px;
background-color: rgb(189,183,107);
border-radius: 10px;

}
#password{
    height: 30px;
    margin-left: 38px;
    background-color: rgb(189,183,107);
    border-radius: 10px;
    

}
#img
{
    margin-left: 105px;
    border-radius: 10px;

}
#sb{
   height: 50px;
    width: 150px;
    background-color: rgb(23, 192, 192);
    margin-left: 30%;
    margin-bottom: 0px;
    font-size: 20px;
    border-radius: 10px;
   
    background: linear-gradient(90deg,0162c8);
    box-shadow: 0 10px 20px 0 rgb(10, 0, 0);

}
#im{

    margin-left: 85px;
}


/* registration form data style :start */
